@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  font-family: "Open Sans";
  background-color: #CA8269;
  color: #150E15;
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3 {
  font-family: Cinzel;
  color: #2D133F;
}

h1 {
  font-size: 48px;
  letter-spacing: 8px;
  line-height: 48px;
}

h2 {
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

a {
  color: #A16051;
  text-decoration: none;
}

a:hover {
  color: #CA8269;
}

.btn {
  color: #E2D5E8;
  background-color: #2D133F;
  padding: 15px;
  border-radius: 6px;
  display: inline-block;
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
}

.btn:hover {
  color: #E2D5E8;
  background-color: #150E15;
}

.container {
  width: 900px;
  margin: 20px auto;
}

.card {
  background-color: #E2D5E8;
  border: 2px solid #A16051;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  border-radius: 8px;
  padding: 30px;
  margin: 20px auto;
}

.small-text {
  font-size: 6px;
  line-height: 4px;
}

.img-circle {
  width: 200px;
  border-radius: 50%;
}

.img-team {
  margin: 10px;
  transition: 0.3s;
}

.img-team:hover {
  opacity: 50%;
}

.social-list {
  list-style: none;
  padding-left: 0px;
}

dialog {
  text-align: center;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }

  h1 {
    font-size: 44px;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 32px;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 26px;
    letter-spacing: 1px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }

  h1 {
    font-size: 40px;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 28px;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }

  h1 {
    font-size: 36px;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
